.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}


.c-accordion-item {
  margin-bottom: 30px;
  background-color: #fff;
}

.reduced-container {
  position: relative;
  max-width: 100%;
}

.main-footer {
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer-colm {
  padding-top: 90px;
  padding-bottom: 45px;
}

.foot-para {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

.news-desc {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  text-transform: capitalize;
}

.foot-copy {
  margin-top: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.09);
}

.footer-copyright {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.scl-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
}

.text-span {
  font-weight: 700;
}

.email-input {
  height: 42px;
  margin-bottom: 0px;
  padding-top: 8px;
  border-style: solid;
  border-width: 0px;
  border-color: #fff;
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, 0);
  color: #fff;
}

.sbmt-btn {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-left: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #47c3c1;
  font-size: 15px;
}

.form-mail {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 11px;
}

.form-news {
  padding-top: 20px;
}

.sendbtn-pic {
  position: static;
  padding-right: 15px;
}

.inn-bnr-sec {
  width: 100%;
}

.inner-all-desc {
  padding-top: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  font-weight: 300;
}

.inns-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Space age', sans-serif;
  color: #fff;
  font-size: 36px;
}

.contect-blck {
  padding-bottom: 50px;
}

._2-column-grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}




.slide-image {
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.slide-image:hover {
  opacity: 0.6;
}

.lottie-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lottie-arrow {
  width: 100px;
}

.lottie-wrapper-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 11%;
  bottom: -7%;
  z-index: -1;
  width: 650px;
  opacity: 0.12;
}



.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {

  .reduced-container {
    max-width: 100%;
  }

  .footer-colm {
    padding-bottom: 30px;
  }

  .foot-para {
    font-size: 15px;
    line-height: 27px;
  }

  .news-desc {
    font-size: 14px;
    line-height: 22px;
  }

  .icon {
    color: #fff;
  }




  .lottie-wrapper {
    display: none;
  }

  .lottie-wrapper-2 {
    right: auto;
    bottom: 22%;
    display: none;
    width: 450px;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 16px;
  }





  .reduced-container {
    max-width: 100%;
  }

  .foot-copy {
    margin-top: 20px;
  }

  .inner-all-desc {
    font-size: 16px;
    line-height: 30px;
  }

  .inns-heading {
    font-size: 30px;
    line-height: 30px;
  }

  .contect-blck {
    padding-bottom: 35px;
  }

  .section.image-section {
    min-height: 700px;
  }


  ._2-column-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 479px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }


  .reduced-container {
    max-width: 100%;
  }

  .footer-colm {
    padding-top: 50px;
  }

  .footer-copyright {
    font-size: 13px;
  }

  .inns-heading {
    font-size: 22px;
    line-height: 26px;
  }

  .contect-blck {
    padding-bottom: 26px;
  }


  .lottie-wrapper {
    bottom: -60px;
  }
}

@font-face {
  font-family: 'Space age';
  src: url('../fonts/space-age.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rodiopen';
  src: url('../fonts/Rodiopen.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}