.page-wrapper {
    width: 100%;
}

.section-card-heading {
    color: #47c3c1;
    font-size: 40px;
    font-weight: 400;
}

.hero-section {
    position: relative;
    display: flex;
    overflow: visible;
    height: 90vh;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.hero-block {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bnr-text {
    width: 750px;
    margin-bottom: 40px;
}

.hero-heading {
    text-shadow: 7px 7px 13px rgba(0, 0, 0, 0.6);
}

.hero-sub-paragraph {
    margin-bottom: 0;
    padding-top: 14px;
    font-family: Rodiopen, sans-serif;
    color: #fff;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
}

.hero-design-1 {
    position: static;
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
    width: 800px;
    height: auto;
    margin-left: 0;
    padding-left: 0;
}

.button-wrapper {
    display: flex;
}

.button {
    display: flex;
    width: 309px;
    min-height: 60px;
    min-width: 200px;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid #47c3c1;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #47c3c1;
    transition: all 350ms ease;
    font-family: Rodiopen, sans-serif;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    transform: translate(0px, 5px);
}

.button.text-button {
    position: relative;
    padding-bottom: 12px;
    flex-direction: column;
    text-decoration: none;
}

.button-note {
    font-size: 12px;
    line-height: 12px;
}

.button-spacer {
    width: 15px;
}

.hide {
    display: none;
}

.button.hollow-button {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}

.hero-video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.hero-video-overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.hero-nft {
    position: absolute;
    left: auto;
    top: auto;
    right: 10%;
    bottom: 0;
    width: 35vw;
    max-width: 700px;
}

.bottom-gradient {
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    height: 400px;
    background-image: linear-gradient(180deg, transparent 37%, #000);
}

.section {
    position: relative;
    padding-top: 8em;
    padding-bottom: 8em;
}

.section.remove-top-padding {
    padding-top: 0;
}

.row {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.grid-team {
    position: relative;
    z-index: 10;
    padding-right: 24px;
    padding-left: 24px;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.team-pic {
    position: relative;
}

.team-image {
    display: block;
}

.team-name {
    position: relative;
    padding-top: 18px;
    padding-bottom: 14px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #000;
    box-shadow: 0 0 40px -10px rgba(71, 195, 193, 0.63);
    font-family: Rodiopen, sans-serif;
    color: #47c3c1;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.team-twitter-wrap {
    display: flex;
    margin-top: 3px;
    justify-content: center;
    align-items: center;
    font-family: Jura, sans-serif;
    color: #47c3c1;
    font-size: 16px;
    text-decoration: none;
}

.team-twitter-wrap:hover {
    text-decoration: underline;
}

.team-twitter {
    width: 18px;
    margin-right: 5px;
}

.team-sub-name {
    font-family: Jura, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    display: block;
    background-image: linear-gradient(180deg, #000 50%, rgba(0, 45, 48, 0.7));
}

.section-background.reverse {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #000), to(rgba(0, 45, 48, 0.7)));
    background-image: linear-gradient(0deg, #000 50%, rgba(0, 45, 48, 0.7));
}

.bottom-gradient-2 {
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-height: 500px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#002e30));
    background-image: linear-gradient(180deg, #000, #002e30);
}

.planets-wrapper {
    display: block;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

.planets-wrapper.expand {
    height: 200vh;
}

.section-heading-wrapper {
    margin-bottom: 60px;
    text-align: center;
}

.planets-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

.planets-container.sticky {
    position: sticky;
    top: 25%;
    overflow: hidden;
    max-width: none;
    margin-bottom: 20px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

._w-scrolling-content {
    position: relative;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.c-scroll-track {
    display: flex;
    width: 200vh;
    flex-direction: row;
    flex: 0 0 auto;
}

.image-section {
    display: flex;
    min-height: 900px;
    align-items: center;
    background-image: linear-gradient(180deg, #002e31 4%, rgba(0, 0, 0, 0.01) 56%), url('../../assets/images/bg-4.jpg');
    background-position: 0 0, 0 0;
    background-size: auto, cover;
}

.studio-card {
    padding: 44px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.75);
}

.redact {
    background-color: #47c3c1;
    color: #47c3c1;
}

@media screen and (max-width: 991px) {
    .section-card-heading {
        font-size: 2.2em;
    }

    .hero-section {
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bnr-text {
        width: 100%;
        text-align: center;
    }

    .hero-heading {
        margin-top: -33px;
        font-size: 60px;
        line-height: 60px;
    }

    .hero-sub-paragraph {
        font-size: 14px;
        line-height: 32px;
    }

    .hero-design-1 {
        width: 100%;
    }

    .button-wrapper {
        justify-content: center;
    }

    .button {
        width: 240px;
        min-height: 70px;
        background-size: contain;
        font-size: 23px;
    }

    .hero-nft {
        position: relative;
        right: auto;
        order: -1;
    }

    .section.remove-top-padding {
        padding-top: 3em;
    }

    .grid-team {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    .planets-wrapper.expand {
        overflow: hidden;
        height: auto;
    }

    .planets-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .planets-container.sticky {
        position: relative;
        top: 0;
        overflow: auto;
    }

    .wrapper {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .image-section {
        min-height: 700px;
    }

    .bnr-text {
        width: 100%;
    }

    .hero-heading {
        font-size: 50px;
        line-height: 40px;
    }

    .hero-sub-paragraph {
        font-size: 16px;
        line-height: 29px;
    }

    .button {
        font-size: 16px;
    }

    .hero-nft {
        width: 40vw;
    }

    .team-pic {
        width: 45%;
    }

    .grid-team {
        display: flex;
        padding-right: 0;
        padding-left: 0;
        justify-content: center;
        flex-wrap: wrap;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .team-name {
        font-size: 14px;
        line-height: 18px;
    }

    .team-sub-name {
        font-size: 12px;
    }

    .section-background.reverse {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #000), to(rgba(0, 45, 48, 0.7)));
        background-image: linear-gradient(0deg, #000 80%, rgba(0, 45, 48, 0.7));
    }
}

@media screen and (max-width: 479px) {
    .section-card-heading {
        font-size: 24px;
        line-height: 26px;
    }

    .section-card-heading.mob-larger {
        font-size: 30px;
    }

    .hero-section {
        height: auto;
    }

    .bnr-text {
        margin-bottom: 40px;
    }

    .hero-heading {
        margin-top: -17px;
        font-size: 39px;
        line-height: 30px;
    }

    .hero-sub-paragraph {
        line-height: 26px;
    }

    .button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .button {
        width: 100%;
        min-width: auto;
    }

    .button-spacer {
        height: 15px;
    }

    .button.hollow-button {
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
    }

    .hero-nft {
        width: 60vw;
    }

    .grid-team {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .team-pic {
        width: 100%;
    }

    .team-name {
        margin-top: -8px;
        line-height: 18px;
    }

}