.team-pic {
    position: relative;
}

.team-image {
    display: block;
}

.team-name {
    position: relative;
    padding-top: 18px;
    padding-bottom: 14px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #000;
    box-shadow: 0 0 40px -10px rgba(71, 195, 193, 0.63);
    font-family: Rodiopen, sans-serif;
    color: #47c3c1;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.team-sub-name {
    font-family: Jura, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.team-twitter-wrap {
    display: flex;
    margin-top: 3px;
    justify-content: center;
    align-items: center;
    font-family: Jura, sans-serif;
    color: #47c3c1;
    font-size: 16px;
    text-decoration: none;
}

.team-twitter-wrap:hover {
    text-decoration: underline;
}

.team-twitter {
    width: 18px;
    margin-right: 5px;
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    .team-pic {
        width: 45%;
    }

    .team-name {
        font-size: 14px;
        line-height: 18px;
    }

    .team-sub-name {
        font-size: 12px;
    }
}

@media screen and (max-width: 479px) {
    .team-pic {
        width: 100%;
    }

    .team-name {
        margin-top: -8px;
        line-height: 18px;
    }
}