.pageWrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #000;
    background-image: url('../../assets/images/faq-bg.png');
    background-position: 0 0;
    background-size: cover;
}

.heading {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'Space age', sans-serif;
    color: #fff;
    font-size: 77px;
    line-height: 60px;
    letter-spacing: 0.08em;
}

.aboutButtonContainer {
    padding-bottom: 100px;
    background-color: #000;
}

.bottomAboutContainer {
    display: block;
    width: 100%;
}

@media screen and (max-width: 991px) {    
    .innerPageWrapper {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .heading {
        font-size: 60px;
    }
}

@media screen and (max-width: 767px) {
    .heading {
        font-size: 36px;
    }
}

@media screen and (max-width: 479px) {
    .heading {
        font-size: 29px;
        line-height: 40px;
    }
}